/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer tailwind-base, primeng, tailwind-utilities;
@import '@angular/material/prebuilt-themes/indigo-pink.css';


/* Estilos globais customizados */
@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
/* Arquivo: styles.css */
.page-background {
  @apply py-20 bg-gradient-to-b  to-gray-900;
}
/* Remover margem, padding e box-shadow de todos os elementos */
/* Reset completo */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: border-box;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}


